<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>

        <a href=""></a>

        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        <p>The specified category doesnt exist!</p>
    {% endif %}
</div>

</body>
</html>