{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Index
{% endblock %}

{% block body_block %}
            <a href="{% url 'add_category' %}">Add a new category</a><br />
            <h1>Most liked categories</h1>
            {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                        </li>
                        <div>
                            {% if pages %}
                                <ul>
                                    {% for page in pages %}
                                        {% if page.category.name == category.name %}
                                            <li>
                                                {{ page.title }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}

            <div>
                <h1>Most viewed pages</h1>
                {% if most_viewed %}
                    <ul>
                        {% for page in most_viewed %}
                        <li>
                            <a href="{{ page.url }}">{{ page.title }}</a> | {{ page.views }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
{% endblock %}