<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>

    <body>
        <div>
            {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
                        </li>
                        <div>
                            {% if pages %}
                                <ul>
                                    {% for page in pages %}
                                        {% if page.category.name == category.name %}
                                            <li>
                                                {{ page.title }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </body>
</html>