<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        hey there partner!<br/>
        <strong>{{ boldmessage }}</strong><br/>
    </div>
    <div>
        <a href="/rango/amerika">el amerika wey</a><br/>
        <img src="{% static "images/palmas.png" %}" alt="el logo del csi con palmas xd" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="un gato to' loco" />
    </div>
</body>
</html>